body {
    background-color: beige;
    color: black;
}

input {
    width: 50%;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxMessages {
    display: flex;
    justify-content: flex-start;
}